**/*.ts
**/tsconfig.json
test*
tests
**/tests
icon.svg
**/*.map
**/.*bun-build
vscode-tikbook*
**/tsconfig.tsbuildinfo
.github/**
.vscode/**
client/src/**
server/src/**
**/*.ts
**/node_modules/**
**/*.map
.gitignore
webpack.config.js
.eslintrc.json
bun.lock
**/bun.lock
.vscodeignore*
screenshot-*.*